{% extends 'base.html' %}
{% block content %}
    <section>
        <h1>Marksheet:</h1>
        <br>
        <form method="post">
        {% csrf_token %}    
            <table class="formstyle">
                <tr><td class="formstyle"><label>Subject 1</label></td>
                    <td><input type="text" name="num1"/></td>
                </tr>
                <tr><td class="formstyle"><label>Subject 2</label></td>
                    <td><input type="text" name="num2"/></td>
                </tr>
                <tr><td class="formstyle"><label>Subject 3</label></td>
                    <td><input type="text" name="num3"/></td>
                </tr>
                <tr><td class="formstyle"><label>Subject 4</label></td>
                    <td><input type="text" name="num4"/></td>
                </tr>
                <tr><td class="formstyle"><label>Subject 5</label></td>
                    <td><input type="text" name="num5"/></td>
                </tr>
                <tr><td><button type="submit" style="color:black; background-color:yellow;">Marksheet:</button></td>
                </tr>
                <tr><td>Total</td>
                    <td><input type="text" value={{total}}></td>
                </tr>
                <tr><td>Percentage</td>
                    <td><input type="text" value={{per}}></td>
                </tr>
                <tr><td>Division</td>
                    <td><input type="text" value={{divi}}></td>
                </tr>
                 
            </table>
        </form>
    </section>
{% endblock %}