{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid py-5" style="text-align:center;">
    <p class="display-6" style="color:brown;">The Chocolate Society Wholesale</p>
    <p class="col-xl-12 py-3 float-start">Here at The Chocolate Society, we are an artisan chocolate brand that supplies our<br> luxury chocolate products on a wholesale basis to shop in the UK, Europe, USA and the rest of the world.
    <p class="col-x1-12">If you are looking for luxury chocolate products for your gift shop, delicatessen,<br> department store or other retail environment, then please consider us.
    <p class="display-6" style="color:brown;">Luxury Chocolate Products:</p>
    <p class="col-x1-12">We sell a wide range of luxury chocolate products and they can be categorised into<br> the following categories:</p>
    <ul><li>Chocolate Bars</li>
        <li>Chocolate Malt Balls</li>
        <li>Chocolate Fruit & Nuts</li>
        <li>Chocolate Honeycomb</li>
        <li>Chocolate Truffles & Caramels</li>
        <li>Hot Chocolate</li>
    </ul>
    <p class="col-x1-12">If you would like to contact us directly about our products, please use the Contact Us page on our website.<br><br></p>
    <div class="d-flex justify-content-center row bg-warning">
        <div class="col-xl-3 py-3 text-center"><i class="fa fa-cube" style="font-size:24px"></i><br>
            <b>FREE SHIPPING</b><br>
            <p>Free UK Mainland Shipping <br>on orders over £50.</p>
        </div>
        <div class="col-xl-3 py-3 text-center"><i class="fa fa-phone" style="font-size:24px"></i><br><b>CUSTOMER SERVICE</b><br>
            <p>We are available from Monday to<br> Thursday to answer your questions.</p>
        </div>
        <div class="col-xl-3 py-3 text-center"><i class="fa fa-lock" style="font-size:24px"></i>
            <br><b>SECURE PAYMENT</b><br>
            <p>Your payment information is processed securely.</p>
        </div>
        <div class="col-xl-3 py-3 text-center"><i class="fa fa-envelope" style="font-size:24px;"></i><br><b>CONTACT US</b><br>
            <p>Need to contact us?<br> Just send us an e-mail.</p>
        </div>
    </div>
</div>

{% endblock %}
</body>
</html>